VERSION 2
APT::Architecture=amd64
APT::Build-Essential::=build-essential
APT::Install-Recommends=1
APT::Install-Suggests=0
APT::Acquire::Translation=environment
APT::NeverAutoRemove::=^firmware-linux.*
APT::NeverAutoRemove::=^linux-firmware$
APT::NeverAutoRemove::=^linux-image.*
APT::NeverAutoRemove::=^kfreebsd-image.*
APT::NeverAutoRemove::=^linux-restricted-modules.*
APT::NeverAutoRemove::=^linux-ubuntu-modules-.*
APT::Never-MarkAuto-Sections::=metapackages
APT::Never-MarkAuto-Sections::=restricted/metapackages
APT::Never-MarkAuto-Sections::=universe/metapackages
APT::Never-MarkAuto-Sections::=multiverse/metapackages
APT::Never-MarkAuto-Sections::=oldlibs
APT::Never-MarkAuto-Sections::=restricted/oldlibs
APT::Never-MarkAuto-Sections::=universe/oldlibs
APT::Never-MarkAuto-Sections::=multiverse/oldlibs
Dir=/
Dir::State=var/lib/apt/
Dir::State::lists=lists/
Dir::State::cdroms=cdroms.list
Dir::State::mirrors=mirrors/
Dir::State::extended_states=extended_states
Dir::State::status=/var/lib/dpkg/status
Dir::Cache=var/cache/apt/
Dir::Cache::archives=archives/
Dir::Cache::srcpkgcache=srcpkgcache.bin
Dir::Cache::pkgcache=pkgcache.bin
Dir::Etc=etc/apt/
Dir::Etc::sourcelist=sources.list
Dir::Etc::sourceparts=sources.list.d
Dir::Etc::vendorlist=vendors.list
Dir::Etc::vendorparts=vendors.list.d
Dir::Etc::main=apt.conf
Dir::Etc::netrc=auth.conf
Dir::Etc::parts=apt.conf.d
Dir::Etc::preferences=preferences
Dir::Etc::preferencesparts=preferences.d
Dir::Etc::trusted=trusted.gpg
Dir::Etc::trustedparts=trusted.gpg.d
Dir::Bin::methods=/usr/lib/apt/methods
Dir::Bin::dpkg=/usr/bin/dpkg
Dir::Media::MountPath=/media/apt
Dir::Log=var/log/apt
Dir::Log::Terminal=term.log
Dir::Log::History=history.log
Dir::Ignore-Files-Silently::=~$
Dir::Ignore-Files-Silently::=\.disabled$
Dir::Ignore-Files-Silently::=\.bak$
Dir::Ignore-Files-Silently::=\.dpkg-[a-z]+$
Acquire::http::Proxy=http://apt-cacher:3142
Acquire::https::Verify-Peer=false
DPkg::Pre-Install-Pkgs::=/usr/bin/graphite-hook%20||%20test%20$?%20-ne%2010
DPkg::Pre-Install-Pkgs::=/usr/bin/apt-listchanges%20--apt%20||%20test%20$?%20-ne%2010
DPkg::Pre-Install-Pkgs::=/usr/sbin/dpkg-preconfigure%20--apt%20||%20true
DPkg::Tools::Options::/usr/bin/graphite-hook::Version=2
DPkg::Tools::Options::/usr/bin/apt-listchanges::Version=2
CommandLine::AsString=apt-get%20install%20dserv
quiet=1

dserv 1.0-31 < 1.0-32 /var/cache/apt/archives/dserv_1.0-32_all.deb
dserv 1.0-31 < 1.0-32 **CONFIGURE**
